<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">PhoneKey</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/about">About</a>
                </li>
            </ul>
            {{#if loggedIn}}
                 <ul class="nav navbar-nav navbar-right">
                    <li><a href="account">{{loggedIn}}</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Account
                            <span class="caret"</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="account">View Account</a></li>
                            <li class="divider"></li>
                            <li><a href="disable_lock">Disable Lock</a></li>
                            <li><a href="contacts">View Contacts</a></li>
                            <li><a href="e_keys">Manage eKeys</a></li>
                        </ul>
                    </li>
                    <li>
                        <form class="navbar-form navbar-right" method="get" action="/logout">
                            <button type="submit" class="btn btn-primary btn-sm">Log Out</button>
                        </form>
                    </li>
                </ul>
            {{else}}
                <form class="navbar-form navbar-right" role="form" method="post" action="login">
                    <input type="text" class="form-control" name="username" placeholder="Username">
                    <input type="password" class="form-control" name="password" placeholder="Password">
                    <button type="submit" class="btn btn-primary btn-sm">Log In</button>
                </form>
            {{/if}}
            <ul class="nav navbar-nav navbar-right">
                
            </ul>
        </div>
    </div>
</div>