<div class='container'>
    <div class='col-lg-8 col-lg-offset-2'>
        <div class='well'>
            <form id="RegisterForm" class='form-horizontal' onsubmit="return validateForm()" method="post" action="/register">
                <fieldset>
                    <legend>New Account</legend>
                </fieldset>
                <div class='form-group'>
                    <label for="inputFirstName" class="col-lg-2 control-label">First Name*</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" id="inputFirstName" name="firstname" placeholder="First Name">
                    </div>
                </div>
                <div class='form-group'>
                    <label for="inputLastName" class="col-lg-2 control-label">Last Name*</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" id="inputLastName" name="lastname" placeholder="Last Name">
                    </div>
                </div>
                <div class='form-group'>
                    <label for="inputEmail" class="col-lg-2 control-label">Email*</label>
                    <div class="col-lg-8">
                        <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Email">
                    </div>
                </div>
                <div class='form-group'>
                    <label for="inputUsername" class="col-lg-2 control-label">Username*</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" id="inputUsername" name="username" placeholder="Username">
                    </div>
                </div>
                <div class='form-group' id='passwordGroup'>
                    <label for="inputPassword" class="col-lg-2 control-label">Password*</label>
                    <div class="col-lg-8">
                        <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password">
                        <span class="help-block">Password specifications. Keep your account safe!</span>
                    </div>
                </div>
                <div class='form-group' id='passwordConfirmGroup'>
                    <label for="inputPasswordConfirm" class="col-lg-2 control-label">Confirm Password*</label>
                    <div class="col-lg-8">
                        <input type="password" class="form-control" id="inputPasswordConfirm" placeholder="Confirm Password">
                        <span class="help-block">Confirm Password</span>
                    </div>
                </div>
                <div class='form-group'>
                    <label class="col-lg-2 control-label">Phone Number</label>
                    <div class="col-lg-8">
                        <input type="tel" class="form-control" name="phone" oninput="telFormat(this)" placeholder="(555)555-5555">
                        <span class="help-block">Enter a phone number to be associated with your account.</span>
                    </div>
                </div>
                <div class='form-group'>
                    <label class="col-lg-2 control-label">Provider</label>
                    <div class="col-lg-8">
                        <select class="form-control" name="provider">
                            <option value="verizon">Verizon</option>
                            <option value="tmobile">T-Mobile</option>
                            <option value="virginmobile">Virgin Mobile</option>
                            <option value="att">AT&T</option>
                            <option value="sprint">Sprint</option>
                        </select>
                    </div>
                </div>
                <div class='form-group'>
                    <div class="col-lg-offset-2 col-lg-10">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    function validateForm() {
        var pass1 = document.forms["RegisterForm"]["inputPassword"].value;
        var pass2 = document.forms["RegisterForm"]["inputPasswordConfirm"].value;
        if(pass1 !== pass2) {
            $('#passwordGroup').addClass('has-error');
            $('#passwordConfirmGroup').addClass('has-error');
            return false;
        }
    }

    function telFormat(obj) {
        console.log(obj.value);
    }
</script>